<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SoundBag</title>
    <link rel="stylesheet" href="/css/index_style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Dojo Festival Center</h1>
        <div class="register">
            <h5>Register</h5>
            <partial name="UserPartial" />
        </div>
        <div class="login">
            <h5>Login</h5>
            <partial name="LoginPartial" />
        </div>
    </div>
</body>
</html>


