<nav>
    <div class="container2">
        <!-- without this model User this form fails horribly. Do not forget this! -->
        @model Wrapper
        <form asp-action="Submit" asp-controller="Home" method="post">
                <h3>Add a Post:</h3>
                <input hidden asp-for="OnePost.FestivalId" value="@ViewBag.FestivalId" >
                <textarea rows="2" cols="10" asp-for="OnePost.PostContent" class="form-control"></textarea>
                <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>
    <div class="posts">
        @foreach(var post in @Model.AllPosts)
        {
            var user = ((IEnumerable<dynamic>)Model.AllUsers).FirstOrDefault(p => p.UserId == post.UserId);
            <p class="name">@user.FirstName @user.LastName</p>
            <p class="date">@post.created_at</p>
            <p class="post">-@post.PostContent</p>
            <hr>
        }
    </div>
</nav>